<h2> <%= @test.title %> </h2>

<%= link_to 'New question', new_test_question_path(@test) %>

<table>
  <tr>
    <th colspan="2">Questions</th>
    <th colspan="3">Actions</th> 
  </tr>
  <%= render @test.questions %>
</table>  

<%= link_to 'All tests', tests_path %>
