<footer>

<%= current_year %>
<%= github_url('Evgeniy Bogdashev', 'https://github.com/EvgeniyBogd/TestGuru.git') %>
<p>Учебный проект в онлайн-школе <a href='https://thinknetica.com/'>Thinknetica</a></p>


</footer>